body{
    margin: 0;
}

h1{
    color: white;
    font-size: 10rem;
    font-family: 'Quattrocento', serif; 
}

h2{
    color: white;
    font-size: 3rem;
    font-family: 'Quattrocento', serif;
}

h3{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

table{
    text-align: center;
    margin: auto;
}

td{
    padding: 2rem 3rem 2rem 3rem;
}

p{
    font-size: 1.2rem;
    line-height: 2;
    font-family: 'Quicksand', sans-serif;
}

a{
    font-family: 'Quicksand', sans-serif;
}

.nav-bar{
    text-align: center;
    position: fixed;
    top: 0;
    margin-top: 0;
    width: 100%;
    background-color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    z-index: 1;
}

.logo{
    width: 5%;
    position: relative;
    right: 9rem;
    margin: 0;
}

.header-link{
    color: #003366;
    position: relative;
    bottom: 1.5rem;
    margin: 0 4rem 0 4rem;
    font-size: 1.30rem;
    text-decoration: none;
    font-weight: bold;
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

.content{
    text-align: center;
    position: relative;
    top: 4.5rem;
}

.main{
    background:url("img/home-background.png") no-repeat fixed;
}

.color-back{
    background: rgba(0,51,102,0.40);
}

.main-title{
    margin: 0 auto 0 auto;
    margin-top: 0;
    padding-top: 6rem;
    letter-spacing: 4.5rem;
}

.main-subtitle{
    position: relative;
    right: 2rem;
    margin-top: 0;
    letter-spacing: 0.33rem;
}

.intro{
    font-weight: bold;
    width: 70%;
    margin: 3rem auto 12rem auto;
}

.clear{
    color: white;
}

.services{
    text-align: center;
    padding-bottom: 7rem;
}

.service-element{
    margin: 5rem;
    display: inline-block;
}

.service-element:hover .service-title{
    position: relative;
    bottom: 2rem;
}

.service-element:hover .service-icon{
    position: relative;
    bottom: 2rem;
}

.transport{
    background-image:url("img/banner-transport.png");
}

.cleaning{
    background-image:url("img/banner-clean.png");
}

.security{
    background-image:url("img/banner-security.png");
}

.service-right{
    text-align: left;
    padding: 5rem 0 1rem 2rem;
    position: relative;
}

.service-left{
    text-align: left;
    padding: 5rem 0 1rem 2rem;
    position: relative;
}

.text-box{
    padding: 1rem;
    width: 70%;
    border-radius: 40px;
    background: rgba(0,0,0,0.60);
}

.intext{
    margin-top: 0;
    margin-bottom: 0;
}

.about-background{
    background-color: #003366;
}

.contact-background{
    background-color: rgba(0,51,102,0.01);;
}

.about{
    padding-top: 2rem;
    text-align: center;
    width: 60%;
    margin: auto auto 2rem auto;
}

.misvis-text{
    text-align: center;
    width: 30%;
    margin: auto 6rem auto 6rem;
    display: inline-block;
}

.about-permis{
    margin-top: 8rem;
    padding-bottom: 5rem;
}

.dark{
    color: #003366;
    font-size: 2rem;
}

.contact-section{
    text-align: center;
    width: 30%;
    margin: auto 6rem auto 6rem;
    display: inline-block;
}

.contact-schedule{
    padding-top: 2rem;
    text-align: center;
    width: 30%;
    margin: auto;
}

.contact-info{
    padding: 4rem;
}

.contact-forms{
    padding: 3rem;
}

.btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #003366;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #0252a3;
    text-decoration: none;
}